.foo-color{
    background-color:rgb(235, 235, 235);
    position: fixed;
    bottom:0px;
    height:70px;
    justify-content:space-between;
    display:flex;
}
.foo-icon{
    display:flex;
    height:100%;
    width:33%;
    justify-content:center;
    margin:2px 4px;
    padding:0px;
    filter: invert(100%);
}
.foo-icon>a:hover{
    filter:invert(100%)
}
