.nav-color{
  background-color: orange;
  height: 150px;
}

.nav-buttons{
  width:'50%';
  display:inline-flex
}
.nav-upper{
  display:inline-flex;
}

.nav-content{
  padding:10px 20px;
  font-size: x-large;
  font-weight:bold;
}

.nav-search{
  margin-left: 130px;
}

nav>i{
  padding: 2px 5px;
  margin: 2px 2px;
}
.navbar{
  display:inline-flex;
}

.nav-buttons{
  width:50%;
  display:inline-flex;
  justify-content: center;
  font-size:large;
  font-weight:550;
  margin-top:30px;
}